body{
	clear:both;
	padding:0px;
}

/*----------------------------*/

.information_container_right{
	width:75%;
	float:left;
}
.information_container_right_title{
	margin-top: 20px;
	height:70px;
	line-height: 70px;
	font-size: 20px;
	border-bottom: 1px solid #edf1f2;
}
.information_container_right_row{
	text-align: left;
	margin:15px 170px;
}
.information_container_right_row p{
	font-size: 15px;
}

.information_container_right_row input{
	background: #ffffff url("../static/image/rl.png") no-repeat scroll ;
    border: 1px solid #d0d6d9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    padding: 7px 7px 7px 48px;
    width: 360px;
}
.birthday{
	margin:15px 170px;
}
.birthday input{
	width:116px;
	border: 1px solid #ccc;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
}
.birthday select{
	width:120px;
	border: 1px solid #ccc;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    padding: 4px 6px;
}
.information_sex{
	text-align: left;
	margin:15px 170px;
}
.information_sex p{
	font-size: 15px;
}
.information_sex label{
	font-weight: normal;
	font-size: 14px;
	margin-left: 25px;
}
.information-submit{
	width:360px;
	background-color: #39b94e;
    color: #fff;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin:15px 170px;
    margin-bottom: 25px;
}
.addphoto{
	margin-top:80px;
	margin-left: 170px;
}
.addphoto img{
	border-radius: 2px;
	box-shadow:0 1px 4px rgba(0, 0, 0, 0.25);;
	width:200px;
	height:200px;
}
.addphoto button{
	width:200px;
	height:40px;
	background: #31353d;
	color:#fff;
	margin-left: 80px;
}