<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/recipe.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>

<body>
   <div id="index-container"></div>
   <script type = "text/javascript">
   $(function(){
      $.get("/catelator/home/load_header/",{

            },function(data,textStatus){
                $("#index-container").html(data);
            });
   });
   </script>

   <div class="top-nav-separate"></div>
   
   <div class="recipe-nav-block">
      <div class="recipe-nav">
         <strong>CATEGORIES:</strong>
         <ul>
            <li class="active"><a href="#">SHOW ALL</a></li>
            <li><a href="#">BREAKFAST</a></li>
            <li><a href="#">MEAT</a></li>
            <li><a href="#">VEGETARIAN</a></li>
            <li><a href="#">DESSERT</a></li>
            <li><a href="#">SOUP</a></li>
            <li><a href="#">DIET</a></li>
            <li><a href="#">MUSCLE BUILDING</a></li>
            <li><a href="#">SPECIAL</a></li>
         </ul>
      </div>
   </div>

   

   {% for dish in dish_lists %}
   <div class="recipe-item1">
      <div class="item-image">
         <a href="#"><img alt="Custard Ice Skin Mooncake" src="/{{ dish.pic }}"></a>
      </div>
      <div class="item-text">
         <h3>
            <a href="#">{{ dish.dish_name }}</a>
         </h3>
         <p>{{ dish.recipe }}</p>
         <p><a href="/catelator/dish/show_detail/{{ dish.pk }}">READ MORE</a></p>
      </div>
   </div>
   {% endfor %}
   <div id="footer"></div>
    <script type = "text/javascript">
  $(function(){
      $.get("/catelator/home/load_footer/",{

            },function(data,textStatus){
                $("#footer").html(data);
            });
   });
</script>
</body>
</html>
