<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/information.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
   <script src="{% static 'ckeditor/ckeditor.js' %}"></script>
   <script src="{% static 'static/js/jquery-2.1.4.js' %}"></script>
   <script>
   $(function(){
        $(function(){
            CKEDITOR.replace('recipe');
        });
    });

    </script>
</head>

<body>
   <div id="index-container"></div>
   <script type = "text/javascript">
       $(function(){
          $.get("/catelator/home/load_header/",{

                },function(data,textStatus){
                    $("#index-container").html(data);
                });
       });
   </script>

   <div id="left-container"></div>
    <script type = "text/javascript">
     $(function(){
            $.get("/catelator/home/load_left/",{

                },function(data,textStatus){
                    $("#left-container").html(data);
                });
     });
   </script>
   <div class="information_container_right">
      <div class = "information_container_right_title">
         <p>{% if dish %}EDIT RECIPE{% else %}ADD RECIPE{% endif %}</p>
      </div>
       <form {% if dish %}action="/catelator/dish/update/" {% else %} action="/catelator/dish/add/" {% endif %}
          method="post" enctype="multipart/form-data">{% csrf_token %}
      <div class = "information_container_right_row">
         <p>dish_name</p>
         <div>
        <input type="text" id="dish_name" name="dish_name" value="{{ dish.dish_name }}"/>
         </div>
      </div>
      <div class = "information_container_right_row">
         <p>Recipe</p>
            <textarea type="text" id="recipe" name="recipe" value="{{ dish.recipe }}"></textarea>
      </div>
      <div class = "information_container_right_row">
         <p>calories</p>
         <label>
            <input type="text" id="calories" name="calories" value="{{ dish.calories }}"/>
         </label>
      </div>
          <div class = "information_container_right_row">
         <p>protein</p>
         <label>
            <input type="text" id="protein" name="protein" value="{{ dish.protein }}"/>
         </label>
      </div>
          <div class = "information_container_right_row">
         <p>carbohydrates</p>
         <label>
            <input type="text" id="carbohydrates" name="carbohydrates" value="{{ dish.carbohydrates }}"/>
         </label>
      </div>
          <div class = "information_container_right_row">
         <p>vitamins</p>
         <label>
            <input type="text" id="vitamins"  name="vitamins" value="{{ dish.vitamins }}"/>
         </label>
      </div>
      <div class = "information_container_right_row">
         <p>pic</p>
         <input type="file" name="pic_name"/>{% if dish %}<img src="/{{ dish.pic }}" width="50px" height="50px">{% endif %}<br/>
        </div>
      <div class = "information_container_right_row">
         <input type="hidden" name="dish_id" value="{{ dish.pk }}"/>
         <input type="submit" name="submit" />
      </div>
           </form>
   </div>

</body>
</html>