<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/myRecipe.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
  
</head>

<body>
   <div id="index-container"></div>
   <script type = "text/javascript">
       $(function(){
          $.get("/catelator/home/load_header/",{

                },function(data,textStatus){
                    $("#index-container").html(data);
                });
       });
   </script>

   <div id="left-container"></div> 
    <script type = "text/javascript">
     $(function(){
            $.get("/catelator/home/load_left/",{

                },function(data,textStatus){
                    $("#left-container").html(data);
                });
     });
   </script>

    <div class="information_container_right">
      <div class = "information_container_right_title">
         <p><a href="/catelator/dish/dish_list">MY RECIPE</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/catelator/dish/dish_like_list/">MY LIKE</a></p>
      </div>
        {% for dish in dish_lists %}
      <div class="recipe-item1">
         <div class="item-image">
            <a href="/catelator/dish/show_detail/{{ dish.pk }}"><img alt="Custard Ice Skin Mooncake" src="/{{ dish.pic }}"></a>
         </div>
         <div class="item-text">
            <span>
               <a href="/catelator/dish/show_detail/{{ dish.pk }}">{{ dish.dish_name }}</a>
            </span>
             </div>
            <p>
              <span id="del1"><a href="/catelator/dish/edit/{{ dish.pk }}">EDIT</a></span>
              <span id="del2"><a href="/catelator/dish/delete/{{ dish.pk }}">DELETE</a></span>
            </p>

      </div>
        {% endfor %}


   </div>



   <div id="footer"></div> 
    <script type = "text/javascript">
  $(function(){
      $.get("/catelator/home/load_footer/",{

            },function(data,textStatus){
                $("#footer").html(data);
            });
   });
</script>
</body>
</html>