<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/addFriends.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>

<body>
   <div id="index-container"></div>
   <script type = "text/javascript">
   $(function(){
      $.get("/catelator/home/load_header/",{

            },function(data,textStatus){
                $("#index-container").html(data);
            });
   });
   </script>

   <div id="left-container"></div>
    <script type = "text/javascript">
     $(function(){
            $.get("/catelator/home/load_left/",{

                },function(data,textStatus){
                    $("#left-container").html(data);
                });
     });
   </script>


   <div class="information_container_right">
   <div class = "information_container_right_title">
         <p>ADD FRIENDS</p>
   </div>
   <div class = "information_container_right_row">
         <span class = "information_container">
            <form action="/catelator/user/friend_search/" method="get">
            <input type = "text" placeholder = "Input Name or ID" name="userinformation"><button type = "submit" name="login">SEARCH</button><br/>
            </span>
            </form>

    </div>


    {% if search_type == 1%}
        {% if befinders %}
        {% for befinder in befinders%}
    <div class = "add-friend">
      <a href = "/catelator/user/main_page/{{befinder.id}}/"><img src = " /{{befinder.pic}}"><span>{{befinder.user_name}}</span></a>
    </div>
        {% endfor %}
        {% else %}
       <span>the user doesnot exist!</span>
        {% endif %}
    {% endif %}


 </div>
   <div id="footer"></div> 
   <script type = "text/javascript">
   $(function(){
   $("#footer").load("../pages/footer.html",null,function(){});
   }); 
   </script> 
</body>
</html>