<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/information.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>

<body>

   <div id="index-container"></div>
       <script type = "text/javascript">
           $(function(){
              $.get("/catelator/home/load_header/",{

                    },function(data,textStatus){
                        $("#index-container").html(data);
                    });
           });
       </script>

   <div id="left-container"></div>
        <script type = "text/javascript">
         $(function(){
                $.get("/catelator/home/load_left/",{

                    },function(data,textStatus){
                        $("#left-container").html(data);
                    });
         });
       </script>
   <div class="information_container_right">
      <div class = "information_container_right_title">
         <p>Change Password</p>
      </div>
          <p style="color:red">{{ message }}</p>
          <form action="/catelator/user/change_password/" method="post">{% csrf_token %}

             <div class = "information_container_right_row">
            <p>username</p>
            <input type="text" name="username" value="{{ user.user_name }}" disabled="true" readonly="true"/>
            </div>
             <div class = "information_container_right_row">
               <p>old password</p>
               <input type="password" name="oldpassword" />
             </div>
             <div class = "information_container_right_row">
               <p>new password</p>
               <input type="password" name="newpassword1"/>
             </div>
             <div class = "information_container_right_row">
               <p>confirm password</p>
               <input type="password" name="newpassword2"/>
             </div>
            <div class = "information_container_right_row">
              <input type="hidden" value="{{ user.pk }}" name="user_id" />
              <input type="submit" name="change"/>
               </div>
          </form>
      </div>
   </div>


</body>
</html>
