<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/information.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>

<body>
   <div id="index-container"></div>
       <script type = "text/javascript">
           $(function(){
              $.get("/catelator/home/load_header/",{

                    },function(data,textStatus){
                        $("#index-container").html(data);
                    });
           });
       </script>

   <div id="left-container"></div>
        <script type = "text/javascript">
         $(function(){
                $.get("/catelator/home/load_left/",{

                    },function(data,textStatus){
                        $("#left-container").html(data);
                    });
         });
       </script>

   <div class="information_container_right" style="text-align:center">
      <div class = "information_container_right_title">
         <p>MY INFORMATION</p>
      </div>
      <div>

         <div class = "information_container_right_row">
               <span>username   </span>
               <label>{{ user.user_name }}</label>
            </div>
         {% if user.pic != '' %}
            <div class = "information_container_right_row">
               <span>pic   </span>
               <label><img src="/{{ user.pic }}" width="50px" height="50px"/></label>
            </div>
         {% endif %}

         {% if user.weight != 0 %}
            <div class = "information_container_right_row">
               <span>gender   </span>
               <label>{{ user.gender }}</label>
            </div>
            <div class = "information_container_right_row">
               <span>weight   </span>
               <label>{{ user.weight }}</label>
            </div>
            <div class = "information_container_right_row">
               <span>height   </span>
               <label>{{ user.height }}</label>
            </div>
            <div class = "information_container_right_row">
              <span>birth   </span>
               <label>{{ user.birth }}</label>
            </div>
         <div style="float:right;margin-right:40px"><a href="/catelator/user/go_edit/{{ user.pk }}">edit information</a></div><br/>
         {% else %}
         <div style="float:right;margin-right:40px">
            <a href="/catelator/user/go_complete/{{ user.pk }}">complete information</a></div><br/>
         {% endif %}
         <div style="float:right;margin-right:40px"><a href="/catelator/user/go_change_password/{{ user.pk }}">change password</a></div><br/>




      </div>
   </div>
</body>
</html>
