<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
   <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
   <title>Catelator || a website for food and fitness</title>
   <link rel="stylesheet" type="text/css" href="{% static 'static/css/information.css' %}"/>
   <link href="{% static 'static/css/bootstrap.min.css' %}" rel="stylesheet">
   <link href="{% static 'static/css/bootstrap.css' %}" rel="stylesheet">
   <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
   <script src="{% static 'static/js/bootstrap.min.js' %}"></script>
</head>

<body>
   <div id="index-container"></div>
       <script type = "text/javascript">
           $(function(){
              $.get("/catelator/home/load_header/",{

                    },function(data,textStatus){
                        $("#index-container").html(data);
                    });
           });
       </script>

   <div id="left-container"></div>
        <script type = "text/javascript">
         $(function(){
                $.get("/catelator/home/load_left/",{

                    },function(data,textStatus){
                        $("#left-container").html(data);
                    });
         });
       </script>
   <div class="information_container_right">
      <div class = "information_container_right_title">
         <p>MY INFORMATION</p>
      </div>
         <form {% if user.weight != 0 %}action="/catelator/user/edit_information/" {% else %}
               action="/catelator/user/complete_information/"{% endif %}
               enctype="multipart/form-data" method="post" class="control_form">{% csrf_token %}
         <div class = "information_container_right_row">
            <p>Username</p>
            <input type="text" value="{{ user.user_name }}" disabled="true" readonly="true"/>
         </div>
         <div class = "information_container_right_row">
            <p>height</p>
            <input type="text" name="height" value="{{ user.height }}"/>CM
         </div>
         <div class = "information_container_right_row">
            <p>weight</p>
            <input type="text" name="weight" value="{{ user.weight }}"/>KG
         </div>
         <div class = "information_container_right_row">
            <p>gender</p>
            <input type="radio" name="gender" value="female" {% if user.gender == "female" %}checked{% endif %}>female</input>
               <input type="radio" name="gender" value="male" {% if user.gender == "male" %}checked{% endif %}>male</input>
         </div>
         <div class = "information_container_right_row">
         <p>birth</p>
         <input type="date" name="birth" value="{{ user.birth }}"/>
      </div>
         <div class = "information_container_right_row">
         <p>pic</p>
         <input type="file" name="pic" />{% if user.pic != '' %}<img src="/{{ user.pic }}" width="45px" height="45px">{% endif %}
      </div>
            <input type="hidden" name="uid" value="{{ user.pk }}"/>
         <input type="submit" value="complete">
         </form>
      </div>
   </div>

   </div>
</body>
</html>
